html, body {
	user-select: none;
	overflow: hidden;
	margin: 0;
	font-family: "Noto Sans JP", monospace;
	color: #ccc;
}


#head {
	padding: 0 5px;
	height: 4vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
	background-color: #38343b;
}


#block {
	display: flex;
}
#block_list {
	height: 96vh;
	width:  20vw;
	overflow: auto;
	overflow-wrap: anywhere;
	background-color: #2c2a32;
}
#block_task {
	height: 96vh;
	width:  80vw;
	overflow: auto;
	overflow-wrap: anywhere;
	background-color: #27232d;
}

#menu {
	white-space: nowrap;
	inset:    auto;
	border: solid #6d6872;
	padding: 5px;
	display:  none;
	position: fixed;
	background-color: #2f2e36;
}


.selectable {
	padding: 2px 5px;
}
.selectable:hover {
	background-color: #4d4852;
}
.selectable:hover.done {
	background-color: #264a55;
}
.empty {
	height: 25%;
}
.done {
	background-color: #163a38;
}
.open {
	background-color: #6d6872;
}
.expired {
	color: darkkhaki;
}
