html, body {
	user-select: none;
	overflow: hidden;
	margin: 0;
	font-family: "Noto Sans JP", monospace;
}


#head {
	padding: 0 5px;
	height: 4vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
	background-color: #eee;
}


#block {
	display: flex;
}
#block_list {
	height: 96vh;
	width:  20vw;
	overflow: auto;
	overflow-wrap: anywhere;
	background-color: #ddd;
}
#block_task {
	height: 96vh;
	width:  80vw;
	overflow: auto;
	overflow-wrap: anywhere;
	background-color: #ccc;
}

#menu {
	white-space: nowrap;
	inset:    auto;
	padding: 5px;
	display:  none;
	position: fixed;
	background-color: #bbb;
}


.selectable {
	padding: 2px 5px;
}
.selectable:hover {
	background-color: #aaa;
}
.empty {
	height: 25%;
}
.done,.open {
	background-color: #999;
}
.expired {
	background-color: darkkhaki;
}
